img{
  width: 50%;
  height: 50%;
}
h1{
text-align: left;
  color: red;
}
p{
  width: 50%;
  text-align: center;
}
.col{
  padding-bottom: 3%;
}
.fixe,.portable,.tab{
  display: none;
}
.quantity,.ref,.price,.articlename{
  width:25%;
  float: left;
}
.quantity{
  width: 10%;
}
#select{
width: 50px;
}
.modal-dialog{
  max-width: 700px;
}
